<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>IdentityManager</title>
    <link href="{pathBase}/assets/Content.Bundle.min.css" rel="stylesheet" />
</head>
<body lang="en">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a href="{pathBase}" class="navbar-brand">IdentityManager</a>
        </div>
    </div>

    <div class="container">
        <div class="page-header">
            <h1>
                Access Denied
                <small>You are not authorized to use this application.</small>
            </h1>
        </div>
    </div>
</body>
</html>
