
<div class="page-header">
    <h1>
        Users
        <span ng-show="model.waiting" class="waiting label label-info">Searching...</span>
        <span ng-show="model.pager" class="badge">{{model.pager.total}} found</span>
    </h1>
</div>

<form ng-submit="search(model.filter)" class="form-group">
    <div class="col-sm-6">
        <div class="input-group form-group">
            <!--<span class="input-group-addon"><label for="filter">Filter</label></span>-->
            <input type="text" id="filter" ng-model="model.filter" class="form-control" placeholder="Filter" autofocus>
            <span class="input-group-btn">
                <button class="btn btn-primary">Search</button>
            </span>
        </div>
    </div>
</form>

<div class="row" ng-show="model.message">
    <div class="col-sm-8">
        <div class="alert alert-danger alert-dismissable">{{model.message}}</div>
    </div>
</div>

<div class="row" ng-hide="model.waiting || model.message || (model.users.length > 0)">
    <div class="col-sm-8">
        <div class="alert alert-info">No Users Found</div>
    </div>
</div>

<div class="row" ng-show="model.users.length > 0">
    <table class="table table-condensed table-responsive table-striped xtable-bordered">
        <thead>
            <tr>
                <th></th>
                <th>Display Name</th>
                <th>Username</th>
                <th>Subject</th>
            </tr>
        </thead>
        <tr ng-repeat="user in model.users">
            <td><a ng-show="user.links.detail" href="#/users/edit/{{user.data.subject}}" class="btn btn-primary btn-xs">edit</a></td>
            <td>{{user.data.displayName}}</td>
            <td>{{user.data.username}}</td>
            <td>{{user.data.subject}}</td>
        </tr>
    </table>
</div>

<div class="row" ng-show="model.pager">
    <div class="col-sm-8">
        <tt-pager-buttons pager="model.pager"></tt-pager-buttons>
    </div>
    <div class="col-sm-4 pager-text">
        <tt-pager-summary pager="model.pager"></tt-pager-summary>
    </div>
</div>
