<div class="page-header">
    <h1>Create New User</h1>
</div>
<div class="row">
    <div class="col-sm-6">
        <idm-message message="feedback"></idm-message>
    </div>
</div>

<form class="form" ng-submit="create(properties)" name="form" ng-show="create">
    <div ng-repeat="property in properties" class="row">
        <div ng-switch on="property.meta.dataType">
            <div ng-switch-when="5" class="form-group col-sm-6">
                <label for="{{property.meta.type}}">
                    {{property.meta.name}}
                    <input type="checkbox"
                           id="{{property.meta.type}}"
                           ng-true-value="'true'"
                           ng-false-value="'false'"
                           ng-model="property.data">
                </label>
            </div>
            <div ng-switch-when="1">
                <div class="form-group col-sm-3">
                    <label for="{{property.meta.type}}">{{property.meta.name}}</label>
                    <input type="password"
                           class="form-control"
                           id="{{property.meta.type}}"
                           placeholder="{{property.meta.name}}"
                           required
                           ng-model="property.data">
                </div>
                <div class="form-group col-sm-3">
                    <label for="{{property.meta.type}}">Confirm {{property.meta.name}}</label>
                    <input type="password"
                           class="form-control"
                           placeholder="Confirm {{property.meta.name}}"
                           required
                           tt-match="property.data">
                </div>
            </div>
            <div ng-switch-default class="form-group col-sm-6">
                <label for="{{property.meta.type}}">{{property.meta.name}}</label>
                <input type="text"
                       id="{{property.meta.type}}"
                       placeholder="{{property.meta.name}}"
                       class="form-control"
                       required
                       ng-model="property.data">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <button class="btn btn-primary" ng-disabled="form.$invalid">Create</button>
            <a ng-show="model.last"
               class="btn btn-default"
               href="#/users/edit/{{model.last.data.subject}}">Edit User {{model.last.data.subject}}</a>
        </div>
    </div>
</form>
