<div class="page-header">
    <h1>Create New User</h1>
</div>

<div class="row">
    <div class="col-sm-6">
        <idm-message message="feedback"></idm-message>

        <form class="form" ng-submit="create(uid, pwd, properties)" name="form" ng-show="create">
            <div class="form-group">
                <label for="uid">Username</label>
                <input type="text" id="uid" class="form-control" ng-model="uid" autofocus required>
            </div>
            <div class="form-group">
                <label for="pwd">Password</label>
                <input type="password" id="pwd" class="form-control" ng-model="pwd" required>
            </div>
            <div class="form-group">
                <label for="confirm">Confirm Password</label>
                <input type="password" id="confirm" 
                       class="form-control" ng-model="confirm" 
                       required tt-match="pwd">
            </div>
            <div class="form-group" ng-repeat="property in properties">
                <label for="{{property.meta.type}}">{{property.meta.name}}</label>
                <input type="text"
                       id="{{property.meta.type}}"
                       class="form-control"
                       required
                       ng-model="property.data">
            </div>
            <div>
                <button class="btn btn-primary" ng-disabled="form.$invalid">Create</button>
                <a ng-show="model.last"
                    class="btn btn-default"
                    href="#/users/edit/{{model.last.data.subject}}">Edit User {{model.last.data.subject}}</a>
            </div>
        </form>
    </div>
</div>
