<form class="form-inline" ng-submit="setProperty(property)" name="form">
    <div class="col-sm-12">
        <div class="form-group">
            <label for="{{property.meta.type}}" class="column">Set {{property.meta.name}}</label>
            <input type="text"
                   class="form-control user-edit-wide"
                   id="{{property.meta.type}}"
                   placeholder="{{property.meta.name}}"
                   ng-model="property.data"
                   ng-required="property.meta.required">
        </div>
        <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Set</button>
    </div>
</form>
