<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Thinktecture IdentityManager</title>
    <link href="assets/Content.Bundle.min.css" rel="stylesheet" />
</head>
<body lang="en" ng-app="app" ng-controller="LayoutCtrl" ng-cloak>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a href="#/" class="navbar-brand">Thinktecture IdentityManager</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#/list">All Users</a></li>
            <li><a href="#/create">New User</a></li>
        </ul>
        <span class="navbar-text pull-right">{{model.username}}</span>
    </div>

    <div class="container" ng-cloak>
        <ng-view></ng-view>
    </div>

    <script src="assets/Scripts.Bundle.js"></script>
</body>
</html>
