<div class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    Confirm <span ng-bind="action"></span>
                </h4>
            </div>
            <div class="modal-body">
                <div ng-transclude></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary confirm" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>