<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a href="#/" class="navbar-brand">
            <img ng-src="{{PathBase}}/assets/Content.logo.png" class="logo-banner">
            IdentityManager
        </a>
    </div>
    <ul class="nav navbar-nav">
        <li ng-show="layout.links.users"><a href="#/users/list">All Users</a></li>
        <li ng-show="layout.links.createUser"><a href="#/users/create">New User</a></li>
        <li ng-show="layout.links.roles"><a href="#/roles/list">Roles</a></li>
        <li ng-show="layout.links.createRole"><a href="#/roles/create">New Role</a></li>
        <li ng-show="layout.showLogin"><a href="#/" ng-click="login()" idm-prevent-default>Login</a></li>
        <li ng-show="layout.showLogout"><a href="#/" ng-click="logout()" idm-prevent-default>Logout</a></li>
    </ul>

    <span class="navbar-text pull-right">{{layout.username}}</span>
</div>