<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a href="#/" class="navbar-brand">Thinktecture IdentityManager</a>
    </div>
    <ul class="nav navbar-nav">
        <li ng-show="model.links.users"><a href="#/users/list">All Users</a></li>
        <li ng-show="model.links.createUser"><a href="#/users/create">New User</a></li>
        <li ng-show="model.links.roles"><a href="#/roles/list">Roles</a></li>
        <li ng-show="model.links.createRole"><a href="#/roles/create">New Role</a></li>
    </ul>
    <span class="navbar-text pull-right">{{model.username}}</span>
</div>